* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 1em;
  background-color: #2F0015;
  color: #fff;
}

.brand, .hamburger {
  color: #fff;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

hr {
  border: 1px solid #EEEEEE;
  margin: 0em;
}

.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-5 {
  margin-top: 5em;
}


.text-ctr {
  text-align: center;
}

.green {
  color: #7F9847;
}

.outermost-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*=====HOME VIEW=====*/
.plant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.plant-image {
  align-self: flex-end;
}

.carousel-arrow {
  padding: 6em 0.5em;
  cursor: pointer;
}

.topsoil-line {
  background-color: #432221;
  height: 0.2em;
}

.progress-bar {
  height: 1em;
  background-color: #8E4946;
}

.buttons-container,
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 1em auto 1em;
  align-items: center;
  width: 90%;
}

.input-field,
.button {
  height: 50px;
  width: 100%;
  margin: 8px;
  font-size: 1.2em;
  text-align: center;
  border: none;
}

.input-field,
.add-steps-input {
  color: #576930;
  background-color: #EFF4E7;
  transition: 0.5s;
}

.add-steps-input:hover {
  background-color: #eff7e3;
}

.button {
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.add-steps-button {
  color: #ffcfe4;
  background-color: #C00156;
}

.add-steps-button:hover {
  background-color: #D70172;
}

.add-steps-button:active {
  background-color: #C00156;
}

.view-garden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 1em 1em 1em;
}

.back-to-plant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1em auto 1em;
}

.view-garden-container > a,
.view-garden-container > .material-icons, .back-to-plant-container > a, .back-to-plant-container > .material-icons {
  color: #7F9847;
  cursor: pointer;
}

.view-garden-container > a:hover,
.view-garden-container > .material-icons:hover {
  color: #738b3c;
}

/*=====GARDEN VIEW=====*/

.garden-row {
  display: flex;
}

.garden-plant-box {
  background-color: #E8F2F8;
  width: 100vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.odd-plant-row:nth-child(odd), .even-plant-row:nth-child(even) {
  background-color: #D5E7F2;
}



/*=====PAST PLANT VIEW=====*/

.past-plant-soil {
  background-color: #6F3A38;
  color: #f3d9d8;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 40%;
}

/*===FORM VIEW===*/
.close-form {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

.close-x {
  text-align: right;
}

.title {
  color: #7F9847;
  margin: 0em;
  text-transform: uppercase;
  align-items: center;
}

.green-button {
  background-color: #7F9847;
  color: #F2F4EC;
  transition: 0.5s;
}

.green-button:hover {
  background-color: #8CA650;
}

.green-button:active {
  background-color: #768F3E;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 100%;
  cursor: pointer;
}

.delete > p, .delete > .material-icons {
  color: #C00156;
}

.delete > p {
  margin-right: 0.5em;
}

.buttons-container {
  margin-top: auto;
}

.delete:hover {
  background-color: #F8E5EE;
}

.delete:active {
  background-color: #F2CCDD;
}

#date {
  margin-top: 2em;
}

.input-label {
  margin: 1em auto 0em 0em;
  text-transform: uppercase;
}

/*=====HISTORY VIEW=====*/
.history-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #7F9847;
  padding: 0.25em;
  transition: 0.5s;
}

/* click whole div to edit?*/
/*.history-item:hover{
  background-color: #EFF4E7;
}

.history-item:active{
  background-color: #E5EED6;
}*/

.history-title {
  color: #7F9847;
}

.history-column {
  width: 33%;
}

.edit-steps{
  cursor: pointer;
  transition: 0.5s;
}

.edit-steps:hover{
  color: #94AD5B;
}

.edit-steps:active{
  color: #71883C;
}

/*===SPLASH PAGE===*/
.splash-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.splash-image {
  display: flex;
  margin: 1em auto;
  max-height: 300px;
  padding: 3em;
}


@media(min-width: 528px){
  .add-steps-container {
    margin: 1em auto;
  }

}
