* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #2F0015;
  color: #fff;
}

a {
  text-decoration: none;
}

.plant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.plant-image {
  align-self: flex-end;
}

.carousel-arrow {
  padding: 6em 0.5em;
}

.progress-bar {
  height: 1em;
  background-color: #8E4946;
}

.add-steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 1em;
}

.add-steps-input, .add-steps-button {
  height: 50px;
  width: 100%;
  margin: 8px;
  font-size: 1.2em;
  text-align: center;
  border: none;
}

.add-steps-input {
  color: #576930;
  background-color: #EFF4E7;
  transition: 0.5s;
}

.add-steps-input:hover {
  background-color: #eff7e3;
}

.add-steps-button {
  color: #ffcfe4;
  background-color: #C00156;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.add-steps-button:hover {
  background-color: #D70172;
}

.add-steps-button:active {
  background-color: #C00156;
}

.view-garden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.view-garden-container > a,
.view-garden-container > .material-icons {
  color: #7F9847;
  cursor: pointer;
}

.view-garden-container > a:hover,
.view-garden-container > .material-icons:hover {
  color: #738b3c;
}

@media(min-width: 528px){
  .add-steps-container {
    margin: 1em auto;
  }
}
